<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NAVWebServiceExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <NAVWebServiceExample.Properties.Settings>
            <setting name="NAVWebServiceExample_ws_Inbound_Transactions_ws_Inbound_Transactions_Service"
                serializeAs="String">
                <value>http://lapt-10137.tes.local:7707/DynamicsNAV110/WS/CRONUS%20UK%20Ltd./Page/ws_Inbound_Transactions</value>
            </setting>
        </NAVWebServiceExample.Properties.Settings>
    </applicationSettings>
</configuration>